{% extends "base.html" %}
{% load i18n %}
{% load extras %}

{% block "search" %}
<div class="jumbotron p-4 p-md-5 rounded bg-search">
  <div class="col-md-6 px-0">
    <h1 class="display-5">{{ object.title }}</h1>
    <p><div style="width: 200px" class="float-left detail-div-200">{% trans "auction started at"|capfirst %}</div> <b >{{ object.start_date }}</b></p>
    <p><div style="width: 200px" class="float-left detail-div-200">{% trans "open until"|capfirst %}</div> <b>{{ object.open_until }}</b> </p>
    <p><div style="width: 200px" class="float-left detail-div-200">{% trans "starting price"|capfirst %}</div> <b >{{ object.starting_price }} Ft</b></p>
    <p><div style="width: 200px" class="float-left detail-div-200">{% trans "current highest bid"|capfirst %}</div> <b>{{ object.actual_price }} Ft</b> </p>
    <p><div style="width: 200px" class="float-left detail-div-200">{% trans "seller"|capfirst %}</div> <b>{{ object.seller.username }} [{{ object.seller.rating }}] &#11088;</b> </p>
    <p><div style="width: 200px" class="float-left detail-div-200">{% trans "likes"|capfirst %}</div> <b>{{ object.likes }}</b> </p>
    <p><div style="width: 200px" class="float-left detail-div-200">{% trans "watching"|capfirst %}</div> <b>{{ object.watchers }}</b> </p>
    
    {% is_watched_by_user object user %}
    {% is_liked_by_user object user %}

    <a href="#"
       type="a"
       class="show-send-bid btn btn-primary btn-sm float-left bid-margin-right"
       role="button">{% trans 'place bid'|capfirst %}</a>&nbsp;&nbsp;&nbsp;

    <div class="float-left place-bid-inp bid-margin-right" style="display:none">
      <input placeholder="Ft" type="number" name="starting_price" class="numberinput form-control form-control-sm" required="" id="bid">
    </div>

    <a data-confirm="{% trans "Really want to place bid?" %}"
       data-csrf="{{ csrf_token }}"
       data-current-price="{{ object.actual_price }}"
       href="#"
       type="a"
       style="display:none"
       class="btn btn-primary btn-sm float-left bid-margin-right place-bid-send"
       role="button">{% trans 'send bid'|capfirst %}</a>&nbsp;&nbsp;&nbsp;
    
    <div class="clearfix">&nbsp;</div>
    
    <hr/>
    <p class="lead my-3">{{ object.description }}</p>
    <br/>
    
    <img class="img-detail float-left" alt="" src="/{{ object.img1.url }}" width=200 height=250 />
    {% if object.img2 %}
    <img class="img-detail float-left" alt="" src="/{{ object.img2.url }}" width=200 height=250 />
    {% endif %}
    {% if object.img3 %}
    <img class="img-detail float-left" alt="" src="/{{ object.img3.url }}" width=200 height=250 />
    {% endif %}

    <div class="clearfix">&nbsp;</div>
    <br/>
    <br/>
    <br/>
    <p class="lead mb-0"><a href="javascript:window.history.back();" class="font-weight-bold">{% trans "back"|capfirst %}</a></p>
  </div>
</div>
{% endblock "search" %}

{% block "featured" %}
{% endblock "featured" %}


